# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.coverage
coverage.xml

# Node
node_modules/
dist/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
tfplan
terraform.tfvars

# Secrets
.env
*-secret.yaml
